{% extends 'company/Fin_base.html' %}
{% block body %}
    {% load static %}
    

<style>

.form-control.searchs {
        width: 400px!important;
    }
    .form-control.selectt {
        width: 350px;
        font-size: 20px;
    }

    .form-control.selectss3 {
        width: 350px;
    }


    .form-control.select2,
    .select2-container--default .select2-selection--single {
        background-color: #41586bff !important;
        color: black !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: white !important;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {
        background-color: black !important;
        color: rgb(8, 8, 8) !important;
    }

    #quantityDiv {
            display: none;
        }

      .select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
    font-size: 16px;
    
}
.select2-selection__arrow {
    height: 44px !important;
}
     
        
</style>


    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center>
                        <h2 class="mb-0" style="">NEW ADJUSTMENT</h2>

                        
                 
                    </center>
                  
                </div>
            </div>
        </div>
    </div>

 
    <br>

    <div class="d-flex justify-content-end mb-1">
      <a href="{% url 'StockAdjustment' %}"><i class="fa fa-times-circle text-white mx-4 p-1" style="font-size: 1.2rem;margin-left: -54px !important;"></i></a>
    </div>
    <div class="page-content" style="margin-top:-2rem ;">
      
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">

                </div>

                <div class="row mt-3">
                  <div class="col-md-3">

                    <form action="{% url 'create_stockadjustment' %}" method="POST" enctype="multipart/form-data" id="form">
                      {% csrf_token %}
                    <label for=""

                    style="color: white;">Mode of Adjustment</label>

                    <select name="mode" id="adjust" class="form-control" onchange="toggleDiv()" required>
                       <option selected disabled value=""selected hidden>Choose...</option>
                     <option value="Quantity">Quantity Adjustment</option>
                 <option value="Value">Value Adjustment</option>
                </select>

                </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-3">

                   
                      <label class="col-form-label">Reference Number</label>
                 
                      <input class="form-control" type="text" id="bname" name="refno" required>
                  </div>
              </div>

              <div class="row mt-3">
                    <div class="col-md-3 mt-2">
                        <label for="">Date *</label>
                        <input type="date" class="form-control" id="date" name="date" placeholder="">
                    </div>

                    <script>
                      $('#date').val(new Date().toJSON().slice(0,10));
                    </script>
                    
                    <div class="col-md-3">
                        <label class="col-form-label " for="validationCustom02">Account *</label>
                        <select name="account" class="form-control text-white" required>
                           <option selected disabled value="">Choose...</option>
                          

                           <optgroup label="Expense" class="text-dark">
                         <option value="Advertising and Marketing" class="text-white">Advertising and Marketing</option>
                         <option value="Automobile Expense" class="text-white">Automobile Expense</option>
                         <option value=">Bad Debt" class="text-white">Bad Debt</option>
                         <option value="Bank Fees and Charges" class="text-white">Bank Fees and Charges</option>
                         <option value="Consultant Expense" class="text-white">Consultant Expense</option>
                         <option value="Credit Card Charges" class="text-white">Credit Card Charges</option>
                         <option value="Depreciation Expense" class="text-white">Depreciation Expense</option>
                         <option value="Exchange Gain or Loss" class="text-white">Exchange Gain or Loss</option>
                         <option value="IT and Internet Expenses" class="text-white">IT and Internet Expenses</option>
                         <option value="Janitorial Expense" class="text-white">Janitorial Expense</option>
                         <option value="Lodging" class="text-white">Lodging</option>
                         <option value="Meals and Entertainment" class="text-white">Meals and Entertainment</option>
                         <option value="Other Expenses" class="text-white"> Other Expenses</option>
                         <option value="Postage" class="text-white">Postage</option>
                         <option value="Salaries and Employee Wages" class="text-white">Salaries and Employee Wages</option>
                         <option value="Telephone Expense" class="text-white">Telephone Expense</option>
                         <option value="Travel Expense" class="text-white">Travel Expense</option>
                         <option value="Uncategorized" class="text-white">Uncategorized</option>
                         <option value="Contract Assets" class="text-white">Contract Assets</option>
                         <option value="Depreciation And Amortisation" class="text-white">Depreciation And Amortisation</option>
                         <option value="Merchandise" class="text-white">Merchandise</option>
                         <option value="Raw Materials And Consumables" class="text-white">Raw Materials And Consumables</option>
                         <option value="Transportation Expense" class="text-white">Transportation Expense</option>
                         </optgroup>

                         <optgroup label="Fixed Asset" class="text-dark">
                          <option value="Furniture and Equipment" class="text-white">Furniture and Equipment</option>
                          </optgroup>

                          <optgroup label="Other Current Asset" class="text-dark">
                            <option value="Employee Advance" class="text-white">Employee Advance</option>
                            <option value="Advance Tax" class="text-white">Advance Tax</option>
                            <option value="Prepaid Expenses" class="text-white">Prepaid Expenses</option>
                            <option value="GST TCS Receivable" class="text-white">GST TCS Receivable</option>
                            <option value="GST TDS Receivable" class="text-white">GST TDS Receivable</option>
                            <option value="Input Tax Credits" class="text-white">Input Tax Credits </option>
                            <option value="Input CGST" class="text-white">Input CGST</option>
                            <option value="Reverse Charge Tax Input but not due" class="text-white">Reverse Charge Tax Input but not due</option>
                            <option value="Sales to Customers (Cash)" class="text-white">Sales to Customers (Cash)</option>
                            <option value="TDS Receivable" class="text-white">TDS Receivable</option>
                            <option value="Input SGST" class="text-white">Input SGST</option>
                            <option value="Input SGST" class="text-white">Input SGST</option>
                            <option value="Input SGST" class="text-white">Input SGST</option>
                            <option value="Input SGST" class="text-white">Input SGST</option>
                            </optgroup>

                            <optgroup label="Cost Of Goods Sold" class="text-dark">
                              <option value="Labor" class="text-white">Labor</option>
                              <option value="Materials" class="text-white">Materials</option>
                              <option value="Subcontractor" class="text-white">Subcontractor</option>
                              <option value="Cost of Goods Sold" class="text-white">Cost of Goods Sold</option>
                              <option value="Job Costing" class="text-white">Job Costing</option>
                            </optgroup>

                            <optgroup label="Long Term Liability" class="text-dark">
                              <option value="Mortgages" class="text-white">Mortgages</option>
                              <option value="Construction Loans" class="text-white">Construction Loans</option>
                            </optgroup>

                            <optgroup label="Equity" class="text-dark">
                              <option value="Drawings" class="text-white">Drawings</option>
                              <option value="Opening Balance Offset" class="text-white">Opening Balance Offset</option>
                              <option value="Owner's Equity" class="text-white">Owner's Equity</option>
                              <option value="Retained Earnings" class="text-white">Retained Earnings</option>
                              <option value="Capital Stock" class="text-white">Capital Stock</option>
                              <option value="Distributions" class="text-white">Distributions</option>
                              <option value="Dividends Paid" class="text-white">Dividends Paid</option>
                              <option value="Investments" class="text-white">Investments</option>
                            </optgroup>

                            <optgroup label="Other Current Liability" class="text-dark">
                              <option value="Employee Reimbursements" class="text-white">Employee Reimbursements</option>
                              <option value="Opening Balance Adjustments" class="text-white">Opening Balance Adjustments</option>
                              <option value="Unearned Revenue" class="text-white">Unearned Revenue</option>
                              <option value="GST Payable" class="text-white">GST Payable</option>
                              <option value="Output CGST" class="text-white">Output CGST</option>
                              <option value="Output IGST" class="text-white">Output IGST</option>
                              <option value="Output SGST" class="text-white">Output SGST</option>
                              <option value="TDS Payable" class="text-white">TDS Payable</option>
                            </optgroup>

                            {% for a in accounts %}
                            {% if a.account_type == 'Bank' %}
                            <optgroup label="Bank" class="text-dark">
                              <option value="{{ a.account_name }}" class="text-white">{{ a.account_name }}</option>
                            </optgroup>
                            {% endif %}
                            {% endfor %}

                            <optgroup label="Cash" class="text-dark">
                              {% for a in accounts %}
                                {% if a.account_type == 'Cash' %}
                                  <option value="{{ a.account_name }}" class="text-white">{{ a.account_name }}</option>
                                {% endif %}
                              {% endfor %}
                            </optgroup>
                       
            
                            <optgroup label="Credit Card" class="text-dark">
                            {% for a in accounts %}
                            {% if a.account_type == 'Credit Card' %}
                              <option value="{{ a.account_name }}" class="text-white">{{ a.account_name }}</option>
                            {% endif %}
                            {% endfor %}
                            </optgroup>

                           
                            <optgroup label="Payment Clearing Account" class="text-dark">
                              {% for a in accounts %}
                              {% if a.account_type == 'Payment Clearing Account' %}
                              <option value="{{ a.account_name }}" class="text-white">{{ a.account_name }}</option>
                              {% endif %}
                              {% endfor %}  
                            </optgroup>
                            

                    </select>
            </div>

            <div class="col-md-3 ">
              <label class="col-form-label" for="validationCustom03">Reason * </label>
              <div class="d-flex">
              <select name="reason" class="form-control" required>
              <option selected disabled value="">Choose...</option>
              <option value="Stock on fire">Stock on fire</option>
              <option value="Damaged goods">High demand of goods</option>
              <option value="Stock Written off">Stock Written off</option>
              <option value="Inventory Revaluation">Inventory Revaluation</option>
             </select>

       <a href="#">
          <button type="button" class="btn btn-outline-secondary ml-1" 
          data-target="#newreason" data-toggle="modal">+</button>
      </a>

  </div>
</div>
</div>


        <div class="row">
          <div class="col-md-3 mt-3">
            <label class="col-form-label">Description</label>
           <textarea name="desc" rows="5" class="form-control"></textarea>
          </div>
          <div class="col-md-3 mt-3"></div>
          <div class="col-md-3 mt-3"></div>
          <div class="col-md-3 mt-3"></div>
        </div>

        <br>
<!----------------------------------------------------------- Quantity Adjustment ------------------------------------------------------------->
<div class="row" id="quantityDiv">
  <div class="col-md-12 table-responsive-md mt-3">
    <table class="table table-bordered table-hover mt-3" id="item_table1">
      <thead>
        <tr>
          <th class="text-center">Sl No.</th>
          <th class="text-center">Item details</th>
          <th class="text-center">Quantity Available</th>
          <th class="text-center">New Quantity on hand</th>
          <th class="text-center">Quantity Adjusted</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="items-table-body1">
        <tr class="row0" id="row1">
          <td>1</td>
          <td style="width: 20%;">
            
              <select name='item[]' class="form-control select2 selectt" id="selectss1" >
                <option value="" selected disabled>Select Product</option>
                {% for i in items %}
                <option value="{{ i.name }}">{{ i.name }}</option>
                {% endfor  %}
              </select>
            
          </td>
          <td><input type="number" name="qtyav[]" class="form-control" style="text-align:right;" id="qtyavail1"></td>
          <td><input type="number" name='newqty[]' class="form-control" style="text-align:right;" id="qty_hand1" ></td>
          <td><input type="number" name='qtyadj[]' class="form-control qty" id="new_qty1"></td>
          <td style="border: none; " class="text-center">
            <a role="button" class="btn btn-outline-secondary ml-1" onclick="deleteRow1(this)">-</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a role="button" class="btn btn-outline-secondary ml-1" onclick="addRow1()">+</a>
  </div>
</div>

<script>
  $(document).ready(function() {
   $('#selectss1').select2();
$(document).on('change', '#selectss1', function () {
                                   
    console.log('Select changed');
    var selectedValue = $(this).val();
    $.ajax({
        type: "GET",
        url: "{% url 'getitemdata1' %}",
        data: {
            id: selectedValue,
            
        },
        success: function (response) {
          var stck = response.stock;
          document.getElementById('qtyavail1').value=stck;
                                      
                              },
                                
                        });
                  });

              });
</script>

<script type="text/javascript">
  $(document).on('input', '#qty_hand1', function() {
    var qtyhnd = parseFloat(document.getElementById('qty_hand1').value);
    var qtyavail = parseFloat(document.getElementById('qtyavail1').value);
    var difference = qtyhnd - qtyavail
    document.getElementById('new_qty1').value=difference
  });
</script>


<script>

    




 function addRow1() {



    var tableBody = document.getElementById("items-table-body1");
    var rowCount = tableBody.getElementsByTagName("tr").length;

    var newRow = document.createElement("tr");
    newRow.setAttribute("class", "row" + rowCount);
    newRow.setAttribute("id", "row" + (rowCount + 1));


    newRow.innerHTML = `
      <td>${rowCount + 1}</td>
      <td>
        <div>
          <select name='item[]' class="form-control select2 selectt2" id="selectss2${rowCount + 1}" >
            <option value=" " selected disabled>Select Product</option>
            {% for i in items %}
                <option value="{{ i.name }}">{{ i.name }}</option>
            {% endfor %}
          </select>
        </div>
      </td>
      <td><input type="number" name="qtyav[]" class="form-control" style="text-align:right;" id="qtyavail2${rowCount + 1}"></td>
      <td><input type="number" name="newqty[]" class="form-control qty_hand2" style="text-align:right;" id="qty_hand2${rowCount + 1}" required></td>
      <td><input type="number" name="qtyadj[]" class="form-control qty" id="new_qty2${rowCount + 1}"></td>
      <td style="border: none; " class="text-center">
        <a role="button" class="btn btn-outline-secondary ml-1" onclick="deleteRow(this)">-</a>
      </td>
    `;

    tableBody.appendChild(newRow);

    $("#selectss2" + (rowCount + 1)).select2({
      
    });

    $(document).on('change', `#selectss2${rowCount + 1}`, function () {
        console.log('Select changed',`${rowCount + 1}`);
        var selectedValue = $(this).val();
        $.ajax({
            type: "GET",
            url: "{% url 'getitemdata1' %}",
            data: {
                id: selectedValue,
            },
            success: function (response) {
                var stck = response.stock;
                document.getElementById(`qtyavail2${rowCount + 1}`).value = stck;
            },
        });
    });

    $(document).on('input', `#qty_hand2${rowCount + 1}`, function() {
        var qtyhnd = parseFloat(document.getElementById(`qty_hand2${rowCount + 1}`).value);
        var qtyavail = parseFloat(document.getElementById(`qtyavail2${rowCount + 1}`).value);
        var difference = qtyhnd - qtyavail;
        document.getElementById(`new_qty2${rowCount + 1}`).value = difference;
    });
}




</script>





<!--------------------------------------------------------------------------- End Quantity Adjustment----------------------------------------------------------------->




  <!------------------------------------------------------------------------------ Value Adjustment ---------------------------------------------------------------->
  <div class="row " id="valueDiv" >
    <div class="col-md-12 table-responsive-md mt-3">
      <table class="table table-bordered table-hover mt-3" id="tab_logic">
        <thead>
          <tr id>
            <th  class="text-center" >Sl No.</th>
            <th class="text-center" >Item details</th>
            <th class="text-center">Value Available</th>
            <th class="text-center">New Value in Stock</th>
            <th class="text-center">Adjusted Stock in Value</th>
          <th></th>
          </tr>
        </thead>
        <tbody id="items-table-body2">
          <tr class="row0" id="row1">
            <td>1</td>
            <td style="width: 20%;">
              
                <select name='item2[]' id="selectss3"  class="form-control select2  " style="background-color: #243e54;" >
                <option value=" " selected disabled >Select Product</option>
                {% for i in items %}
                <option value="{{ i.name }}">{{ i.name }}</option>
                {% endfor  %}
                </select>
             
            </td>
            <td><input type="number"  id="valavail1" name='cuval[]' class="form-control" style="text-align:right;"></td>
            <td><input type="number" id="val_stck1" name='chval[]' class="form-control" style="text-align:right;" ></td>
            <td><input type="number"  id="adj_val1" name='adjval[]' class="form-control qty"></td>
            <td style="border: none; " class="text-center">
              <a role="button" class="btn btn-outline-secondary ml-1" onclick = "deleteRow2(this)">-</a>
            </td>
          </tr>
          </tbody>
        </table>
        <a role="button" class="btn btn-outline-secondary ml-1" onclick = "addRow2()">+</a>
    </div>
  </div>

  <div>
    
  </div>

  <script>
    $(document).ready(function() {
     $('.select2').select2();
  $(document).on('change', '#selectss3', function () {
                                     
      console.log('Select changed');
      var selectedValue = $(this).val();
      $.ajax({
          type: "GET",
          url: "{% url 'getitemdata2' %}",
          data: {
              id: selectedValue,
              
          },
          success: function (response) {
            var val = response.value;
            document.getElementById('valavail1').value=val;
                                        
                                },
                                  
                          });
                    });
  
                });
  </script>

<script type="text/javascript">
  $(document).on('input', '#val_stck1', function() {
    var valuestock = parseFloat(document.getElementById('val_stck1').value);
    var valavail = parseFloat(document.getElementById('valavail1').value);
    var difference = valuestock - valavail
    document.getElementById('adj_val1').value=difference
  });
</script>




  
<script>
  function addRow2() {
    var tableBody = document.getElementById("items-table-body2");
    var rowCount = tableBody.getElementsByTagName("tr").length;

    var newRow = document.createElement("tr");
    newRow.setAttribute("class", "row" + rowCount);
    newRow.setAttribute("id", "row" + (rowCount + 1));

    newRow.innerHTML = `
      <td>${rowCount + 1}</td>
      <td>
        <div>
          <select name='item2[]' class="form-control select2 " id="selectss4${rowCount + 1}" required>
            <option value=" " selected disabled>Select Product</option>
            {% for i in items %}
                <option value="{{ i.name }}">{{ i.name }}</option>
                {% endfor  %}
          </select>
        </div>
      </td>
      <td><input type="number" id="valavail2${rowCount + 1}" name="cuval[]" class="form-control " style="text-align:right;"></td>
      <td><input type="number" id="val_stck2${rowCount + 1}" name="chval[]" class="form-control valinp" style="text-align:right;" ></td>
      <td><input type="number" name="adjval[]" id="adj_val2${rowCount + 1}"  class="form-control qty"></td>
      <td style="border: none; " class="text-center">
        <a role="button" class="btn btn-outline-secondary ml-1" onclick="deleteRow(this)">-</a>
      </td>
    `;

    tableBody.appendChild(newRow);

   
    $("#selectss4" + (rowCount + 1)).select2({
      
    });

    $(document).on('change', `#selectss4${rowCount + 1}`, function () {
        console.log('Select changed');
        var selectedValue = $(this).val();
        console.log('selectedValue ',selectedValue);
        $.ajax({
            type: "GET",
            url: "{% url 'getitemdata2' %}",
            data: {
                id: selectedValue,
            },
            success: function (response) {
              var valu = response.value;
            document.getElementById(`valavail2${rowCount + 1}`).value=valu;
            },
        });
    });

    $(document).on('input', '.valinp', function() {
      console.log('input')
        var valuestock = parseFloat(document.getElementById(`val_stck2${rowCount + 1}`).value);
        var valavail = parseFloat(document.getElementById(`valavail2${rowCount + 1}`).value);
        var difference = valuestock - valavail;
        document.getElementById(`adj_val2${rowCount + 1}`).value = difference;
    });
}

  

  function deleteRow(button) {
  var row = button.parentNode.parentNode;
  var tableBody = row.parentNode;
  tableBody.removeChild(row);

  
  var rows = tableBody.getElementsByTagName("tr");
  for (var i = 0; i < rows.length; i++) {
    rows[i].getElementsByTagName("td")[0].innerText = i + 1;
  }
}

</script>

<!-----------------------------------------------------------------------End Value Adjustment----------------------------------------------------------------->


  <br><br>

  <div class="row mt-3">
    <div class="col-md-3">
        <input class="form-control" type="file" id="file" name="file">
    </div>
</div>

<br><br>

<div class="notices mt-3">
  <div class="text-muted">NOTICE:</div>
  <div class="text-muted">
    Fin sYs Terms and Conditions Apply
  </div>
</div>

<br><br>

<div class="text-center">
  <button type="submit" class="btn btn-outline-info rounded-pill  text-grey mx-3" name="save">
    Save
  </button>
  <button type="submit" class="btn btn-outline-info rounded-pill  text-grey mx-3" name="draft">
    Draft
  </button>
  
</div>


    </div>


  </form>

    <!-- ---------------------------------------------------- REASON MODAL ------------------------------------------------------------------- -->

    
<div class="modal fade" id="newreason">
  <div class="modal-dialog">
 
      <div class="modal-content" style="background-color: #213b52;">
          <form action="" method="post" class="needs-validation"   >
              {% csrf_token %}
          <div class="modal-header">
              <h3 class="m-3">Add Reason</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            
            
              <div>
                  <div class="form-check">
                      <label class="form-check-label">Reason *</label> 
                      <input type="text" class="form-control" name="reason1">
                     
                  </div>

  
              </div>
         
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-outline-info" >Save</button>
              <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
          </div>
      </form>
      </div>
  </div>
</div>            



 <!-- ---------------------------------------------------- END REASON MODAL ------------------------------------------------------------------- -->




















    <script>
   $(document).ready(function() {
        $('.select2').select2();
    });

 



   
        function toggleDiv() {
            var selectedValue = document.getElementById("adjust").value;
            var quantityDiv = document.getElementById("quantityDiv");
            var valueDiv = document.getElementById("valueDiv");

            if (selectedValue === "Quantity") {
                quantityDiv.style.display = "block";
                valueDiv.style.display = "none";
            } else {
                
                valueDiv.style.display = "block";
                quantityDiv.style.display = "none";
                console.log("hi")

            }
        }




    </script>




  

   
 <!-- #search dropdown -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>

{% endblock %}