<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="page-content">
        

<!--################################################################   statement    ##################################################-->

        <div class="card radius-15 statement" >
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card" style="background-color: #2a4964;">
                         
                        </div>
                    </div>
                </div>
                        
                <div class="card radius-15 p-5 print-content" id="printarea" style="margin-bottom: 50px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">        
                                <div id="GFG" ><br>
                                    <center>
                                        <div class="rectangle" id="" style="color:black;  background-color: white;width: 850px;height:900px;border: 3px white;">
                                            <div class="pcs-template-body" style="text-align:left;">

                                                <div class="col-sm-12" style="background-image: linear-gradient(#1b83e8, black); color: white;">
                                                    <p style="font-size: 4vh; text-align: center;">STOCK ADJUSTMENT</p>
                                                    <p style=" text-align: center;"> {{a.company.Company_name}} <br>
                                                        {{ a.company.City }}, <br>
                                                        {{ a.company.State }},
                                                        {{ a.company.State }},<br>
                                                        {{ a.company.Email }}
                                                        <br>
                                                    </p>
                                                </div>
                                      
                                                <br><br>

                                                <div style="display:table;width:100%;">
                                                    <div  class=" pcs-journal-header-section">
                                                        <div></div>
                                          
                                                    </div>
                                                </div>

                                                
                                              
                                                    
                                                
                                              

                                                
                                                <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-3  ">
                                                        <h5 class=" text-dark ">Reference Number</h5>
                                                    </div>
                                                    <div class="col-3 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-3">
                                                        <h6 class=" mt-1 text-dark">{{ a.stock_adjustment.reference_no }}</h6>
                                                    </div>
                                                  </div> 
                         
                                                 
                            
                                                  <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right text-dark">
                                                        <h5 class="mr-auto text-dark">Reason</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ a.stock_adjustment.reason }}</h6>
                                                    </div>
                                                  </div>
                            
                                              
                                                  <div class="d-flex mb-4 "   style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Date</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ a.stock_adjustment.adjusting_date }}</h6>
                                                    </div>
                                                  </div>
                                                  
                                                  <div class="d-flex mb-4   "   style="margin-left: -95px;">
                                                    <div class="col-6 text-right ">
                                                        <h5 class="mr-auto text-dark">Mode of Adjustment</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ a.type }}</h6>
                                                    </div>
                                                  </div>
                            
                                                  <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Status</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ a.stock_adjustment.status }}</h6>
                                                    </div>
                                                  </div>
                            
                                                  <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Created By</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ a.stock_adjustment.login_details.First_name }}</h6>
                                                    </div>
                                                  </div>
                                                  
                                                {% if comment != "" %}

                                                <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Comment</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark"> 
                                                            {% for i in comment %}
                                                           
                                                                <li style="margin-top: -10px;"> {{ i.comment }}</li><br>
                                                            
                                                            
                                                            {% endfor %}</h6>
                                                    </div>
                                                  </div>
                                                {% endif %}  

                                                <br><br>
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <table style="width:100%;margin-top:20px;table-layout:fixed; margin-left:5vh;" cellspacing="0" cellpadding="0" class="pcs-itemtable">
                                                            <thead style="background-color:#22b8d1">
                                                                <tr style="height:40px;">
                                                                    <td style="padding:5px 10px 5px 10px;word-wrap: break-word; text-align: center;" w class="table-head">
                                                                            Item Details
                                                                    </td>
                                                                    {% if st_items.type == "Quantity" %}
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Quantity Available
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            New Quantity on hand
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Quantity Adjusted
                                                                        </td>
                                                                    {% else %}
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Value Available
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            New Stock in Value
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Adjusted Stock in Value
                                                                        </td>
                                                                    {% endif %}
                                                                </tr>
                                                            </thead>
                                    
                                                            <tbody id="items-table-body">
                                                                {% if st_items.type == "Quantity" %}
                                                                {% for j in st_items %}
                                                                <tr class="row0" id="row1">
                                                                  <td  style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ j.item.name }} </td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.quantity_avail }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.quantity_inhand }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.quantity_adj }}</td>
                                                                </tr>
                                              
                                                                {% endfor %}
                                                                {% else %}
                                                                {% for j in st_items %}
                                                                <tr class="row1" id="row2">
                                                                  <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ j.item.name }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.current_val }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.changed_val }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.adjusted_val }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                                {% endif %}
                                                                
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                
                                             
                                              
                                               
                                            </div>
                                        </div><br>
                                    </center>
                                </div>
                             
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    
</body>
</html>