<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>




<body>


  



    <div class="page-content">
        
        




        <div class="card radius-15 statement" >
            <div class="card-body border" style="">
                
                        
                <div class="card radius-15 p-5 print-content" id="printarea" style="margin-bottom: 30px;">
                    <div class="card-body" id="GFG">
                        <div class="row">
                            <div class="col-md-12">        
                                <div  ><br>
                                    <center>
                                        <div class="rectangle" id="pdfs" style="color:black;  background-color: white;border: 3px rgb(0, 0, 0);">
                                            <div class="pcs-template-body" style="text-align:left;">

                                                <div class="col-sm-12" style="margin: 0 !important; padding: 0!important;background-image: linear-gradient(#1b83e8, black); color: white;" id="colorgradient">
                                                    <br>
                                                    <p style="font-size: 4vh; text-align: center;">STOCK ADJUSTMENT</p>
                                                    <p style=" text-align: center;"> {{stocks.company.Company_name}} <br>
                                                        {{ stocks.company.City }}, <br>
                                                        {{ stocks.company.Pincode }},
                                                        {{ stocks.company.State }},<br>
                                                        {{ stocks.company.Email }}
                                                        <br>
                                                        <br>
                                                    </p>
                                                </div>
                                      
                                                <br><br>

                                                <div style="display:table;width:100%;">
                                                    <div  class=" pcs-journal-header-section">
                                                        <div></div>
                                          
                                                    </div>
                                                </div>

                                                <br>
                                                <div class="mb-4 row" style="">
                                                    <div class="col-md-5 d-flex align-items-center">
                                                        <h5 class="text-right text-dark">Reference Number</h5>
                                                    </div>
                                                    <div class="col-md-2 mx-auto  text-center text-dark" style="margin-top: 5px;">
                                                        :
                                                    </div>
                                                    <div class="col-md-5">
                                                        <h6 class="ml-auto mt-1 text-left">{{ stocks.reference_no }}</h6>
                                                    </div>
                                                </div>
                                                
                            
                                                 
                            
                                                  <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right text-dark">
                                                        <h5 class="mr-auto text-dark">Reason</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ stocks.reason }}</h6>
                                                    </div>
                                                  </div>
                            
                                              
                                                  <div class="d-flex mb-4 "   style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Date</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ stocks.adjusting_date }}</h6>
                                                    </div>
                                                  </div>
                                                  
                                                  <div class="d-flex mb-4   "   style="margin-left: -95px;">
                                                    <div class="col-6 text-right ">
                                                        <h5 class="mr-auto text-dark">Mode of Adjustment</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ stocks.mode_of_adjustment }}</h6>
                                                    </div>
                                                  </div>
                                                
                                                  <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Status</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ stocks.status }}</h6>
                                                    </div>
                                                  </div>
                            
                                                  <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Created By</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark">{{ stocks.login_details.First_name }}</h6>
                                                    </div>
                                                  </div>
                                                  
                                                {% if comment != "" %}

                                                <div class="d-flex mb-4 "  style="margin-left: -95px;">
                                                    <div class="col-6 text-right">
                                                        <h5 class="mr-auto text-dark">Comment</h5>
                                                    </div>
                                                    <div class="col-2 text-center text-dark">
                                                        :
                                                    </div>
                                                    <div class="col-6">
                                                        <h6 class="ml-auto mt-1 text-dark"> 
                                                            {% for i in comment %}
                                                           
                                                                <li style="margin-top: -10px;"> {{ i.comment }}</li><br>
                                                            
                                                            
                                                            {% endfor %}</h6>
                                                    </div>
                                                  </div>
                                                {% endif %}  
                                               

                                                <br><br>
                                                <div class="row">
                                                    <div class="col-md-12 mx-auto">
                                                        <table style="width:100%;margin-top:20px;table-layout:fixed;" cellspacing="0" cellpadding="0" class="pcs-itemtable border border-dark " id="print-Table">
                                                            <thead style="background-color:#22b8d1">
                                                                <tr style="height:40px;" class="border border-dark">
                                                                    <td style="padding:5px 10px 5px 10px;word-wrap: break-word; text-align: center;" w class="table-head">
                                                                            Item Details
                                                                    </td>
                                                                    

                                                                    {% if stocks.mode_of_adjustment == "Quantity" %}
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Quantity Available
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            New Quantity on hand
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Quantity Adjusted
                                                                        </td>
                                                                    {% else %}
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Value Available
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            New Stock in Value
                                                                        </td>
                                                                        <td  style="padding:5px 10px 5px 5px;word-wrap: break-word; text-align: center;" class="table-head">
                                                                            Adjusted Stock in Value
                                                                        </td>
                                                                    {% endif %}
                                                                </tr>
                                                            </thead>
                                    
                                                            <tbody id="items-table-body">
                                                                {% if stocks.mode_of_adjustment == "Quantity" %}
                                                                {% for j in st_items %}
                                                                <tr class="row0 border border-dark" id="row1">
                                                                  <td  style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ j.item.name }} </td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.quantity_avail }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.quantity_inhand }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.quantity_adj }}</td>
                                                                </tr>
                                              
                                                                {% endfor %}
                                                                {% else %}
                                                                {% for j in st_items %}
                                                                <tr class="row1 border border-dark" id="row2">
                                                                  <td style="padding: 10px 0px 10px 10px; font-size:16px; text-align: center;" class="pcs-item-row">{{ j.item.name }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.current_val }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.changed_val }}</td>
                                                                  <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px; text-align: center;">{{ j.adjusted_val }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                                {% endif %}
                                                                
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                
                                             
                                              
                                               
                                            </div>
                                        </div><br>
                                    </center>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    




    
</body>
</html>